body{
    background-image: url("https://cdn.create.vista.com/api/media/small/189898548/stock-photo-cropped-shot-half-face-attractive");
background-repeat: no-repeat;
    margin: 50px;

}

li{
    display: inline-block;
}

ul{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
  float: right;
}

a{
    margin-right:40px;
}
#titlu{
display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: -50px;
    margin-right: 800px;
}

.informaiton{
    display: flex;
    flex-direction: column;
    justify-content: right;
    float:right;
}

.cotainer{
    display: flex;
    justify-content: right;
}



